body, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.title {
    font-family: 'Splash', cursive;
    font-size: 60px;
}

.container {
    margin-top: 60px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container button {
    height: 100vh;
    width: 30%;
    background-color: rgb(101, 165, 207);
    color: white;
    border: none;
    height: 25px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.item-adicionado {
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    height: 40px;
    background-color: rgb(204, 204, 204);
    position: relative;
}


.entrada-tarefa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 90%;


}

.entrada-dados {
    border-radius: 10px;
    background-color: rgb(231, 231, 231);
    width: 80%;
    border-radius: 10px;
    border: 1px solid rgb(173, 173, 173);
    height: 15px;
    padding: 10px;
}

.tarefas-adicionadas {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 5px;
    border-radius: 15px;

}


.botoes {
    cursor: pointer;
    position: absolute;
    right: 0;
    padding: 10px;
}

.fechar {
    background-color: red;
    color: white;
    border-radius: 5px;
}

.validar {
    background-color: green;
    color: white;
    border-radius: 5px;
}

.validar:hover {
    color: green;
}

.fechar:hover {
    color: red;
}

.validada {
    background-color: green;
}

.validado {
    background-color: green;
}